@charset "UTF-8";
.main{
	position:relative;
	text-align:center;
	border:1px solid black;
	margin:60px; padding:0px;
	width:600px;
	margin-left: 110px;
}

/* ページ右上 */
.topRight{
	text-align:right;
	background-color: dimgray;
	border-bottom:1px solid black;
}
.topRight a {
	font-size: 100%;
	font-weight: bold;
	color: red;
	text-decoration: none;
}
.topRight a:hover {
	/* 	color: #9900FF;*/
	text-decoration: underline;
	/* font-style: italic;*/
}

.username{
	font-weight: bold;
	color: white;
}
.logout{
 	margin-left: 15px;
	margin-right: 10px;
	color:red;
}

/* ページ内容 */
#userResister,
#search{
	text-align:right;
	margin-right:50px;
}
#search_bottom{
	padding:4px 40px;
	background-color: whitesmoke;
	font-weight: bold;
    text-align: right;
}

/* ユーザー内容項目 */
ul li {
    list-style: none;
    margin-bottom: 20px;
}
ul li label{
	margin-right: 40px;
	width: 90px;
    float: left;
}
.elem{
	text-align:left;
/* 	margin-left:200px; */
}

#bold{
	font-weight: bold;
}
#boldNot{
	font-weight: normal;
	margin-right:15px;
	margin-left: 15px;
}
.form_conf form{
	display: inline-block;
    margin: 0 30px;
}

/* a {
	font-size: 100%;
	font-weight: bold;
	color: blue;
	text-decoration: none;
}
a:hover {
		color: #9900FF;
	text-decoration: underline;
	font-style: italic;
}
 */

/* ユーザー一覧 */
hr {
	width: 93%;
}
table {
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 15px;
	 margin-bottom: 30px;
}
table,tr,th,td{
	 border: 1px black solid;
	 border-collapse: collapse; /* visibility	collapse	表の行または列を詰める  */
	 border-spacing: 0px;
}
.listElem{
 	text-align: center;
	margin-left:10px;
 	margin-right:10px;

}
.title{
	background-color: gainsboro;
/*     background-image:-moz-linear-gradient(top);
    background-image:-webkit-gradient(linear,left top,left bottom); */
}

ul.nav{
	margin-left: 0px;
	padding-left: 10px;
	margin-top: 0px;
 	padding-top: 0px;
	margin-bottom: 0px;
    margin-right: 10px;
	padding-bottom: 0px;

}
ul.nav form{
  display: inline-block;

}


.detail{
 	background-color:dodgerblue;
 	margin-top: 2px;
 	margin-bottom: 2px;
 	padding: 2px 6px;
	color: white;
	font-weight: normal;
	font-size: 80%;
}
.update{
 	background-color:limegreen;
 	padding: 2px 6px;
	color: white;
	font-weight: normal;
	font-size: 80%;
}

.remove{
	background-color:tomato;
 	padding: 2px 6px;
	color: white;
	font-weight: normal;
	font-size: 80%;
}

.resultmessage{
	color: lime;
	margin-bottom: 20px;
}
