@charset "UTF-8";
.main{
	border:1px solid black;
	margin:60px;
	width:400px;
	text-align: center;
	margin-left: 110px;
}

#topRight{
	text-align:right;
	background-color:dimgray;
	border-bottom:1px solid black;
}
.username{
	font-weight: bold;
	color:white;
}
.logout{
	margin-left: 15px;
	margin-right: 10px;
	color:red;
}


form ul li {
    list-style: none;
    margin-bottom: 20px;
}
form ul li label{
	margin-right: 20px;
	width: 140px;
    float: left;
    font-weight: bold;
}
form ul li{
	text-align:left;
}
form{
	margin-top: 50px;
}

.toUserlist{
	text-align:left;
	margin-top:40px;
	margin-left:40px;
	margin-bottom:15px;
	color:blue;
}

a {
/* 	font-size: 100%; */
	font-weight: bold;
	color: blue;
	text-decoration: none;
}
a:hover {
	/* 	color: #9900FF;*/
	text-decoration: underline;
	/* font-style: italic;*/
}

#topRight a{
	/* 	font-size: 100%; */
	font-weight: bold;
	color: red;
	text-decoration: none;
}
#topRight a:hover {
	/* 	color: #9900FF;*/
	text-decoration: underline;
	/* font-style: italic;*/
}
