@charset "UTF-8";
#test{
    margin: 0 auto;
    position:relative;
}
#main{
	position:relative;
	text-align:center;
	border:1px solid black;
	margin:60px; padding:0px;
	width:600px;
	margin-left: 110px;
}

/* ページ右上 */
#topRight{
	text-align:right;
	background-color:dimgray;
	border-bottom:1px solid black;
}
.username{
	font-weight: bold;
	color: white;
}
.logout{
 	margin-left: 15px;
	margin-right: 10px;
	color:red;
}
#topRight a {
	font-size: 100%;
	font-weight: bold;
	color: red;
	text-decoration: none;
}
#topRight a:hover {
	/* 	color: #9900FF;*/
	text-decoration: underline;
	/* font-style: italic;*/
}

/* ページ内容 */
#userResister,
#search{
	text-align:right;
	margin-right:50px;
}
#search_bottom{
	padding:4px 40px;
	background-color: whitesmoke;
	font-weight: bold;
    text-align: right;
}

/* ユーザー内容項目 */
ul li {
    list-style: none;
    margin-bottom: 20px;
}
ul li label{
	margin-right: 40px;
	width: 90px;
    float: left;
}
.elem{
	text-align:left;
/* 	margin-left:200px; */
}

#bold{
	font-weight: bold;
}
#boldNot{
	font-weight: normal;
	margin-right:15px;
	margin-left: 15px;
}
.form_conf form{
	display: inline-block;
    margin: 0 30px;
}

a {
	font-size: 100%;
	font-weight: bold;
	color: blue;
	text-decoration: none;
}
a:hover {
	/* 	color: #9900FF;*/
	text-decoration: underline;
	/* font-style: italic;*/
}


/* ユーザー一覧 */
hr {
	width: 93%;
}
table {
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 15px;
	 margin-bottom: 30px;
}
table,tr,th,td{
	 border: 1px black solid;
	 border-collapse: collapse; /* visibility	collapse	表の行または列を詰める  */
	 border-spacing: 0px;
}
.listElem{
	margin-left:2px;
 	margin-right:25px;
}
.title{
	background-color: gainsboro;
/*     background-image:-moz-linear-gradient(top);
    background-image:-webkit-gradient(linear,left top,left bottom); */
}
.detail{
/*  	background-color:dodgerblue;*/
  	background-color:blue;
	padding: 2px 5px;
	color: white;
	font-weight: normal;
}
.update{
/* 	background-color:limegreen; */
  	background-color:green;
	padding: 2px 5px;
	color: white;
	font-weight: normal;
}

.delete{
/* 	background-color:tomato; */
  	background-color:red;
	padding: 2px 5px;
	color: white;
	font-weight: normal;
}

.result1{
	color:lime;
	margin-bottom: 20px;
}
